In [1]:
%load_ext autoreload
%autoreload 2

In [1]:
from corradin_ovp_utils.catalog import test_data_catalog
from corradin_ovp_utils.datasets.CombinedGenoPheno import CombinedGenoPheno
from corradin_ovp_utils.odds_ratio import odds_ratio_df_single_combined

In [2]:
def save_data(name, data):
    test_data_catalog.save(name, data)
    return test_data_catalog.load(name)

In [3]:
test_data_catalog.list()

['genetic_file',
 'genetic_file_single',
 'genetic_file_case_control',
 'genetic_file_common_folder',
 'genetic_file_split_by_chrom',
 'genetic_file_bgen',
 '100k_rsids_only_chrom_1',
 'sample_file',
 'sample_file_single',
 'sample_file_case_control',
 'geno_each_sample',
 'case_geno_each_sample',
 'control_geno_each_sample',
 'all_geno_df',
 'odds_ratio_df_rs9610458_rs77948203']

In [4]:
genetic_file= test_data_catalog.load("genetic_file")
sample_file = test_data_catalog.load("sample_file")

In [5]:
combined = CombinedGenoPheno.init_from_OVPDataset(genetic_dataset=genetic_file,
                                       sample_dataset=sample_file, 
                                      rsid_dict = {22: ['rs77948203', 'rs1014626', 'rs9610458', 'rs5762201', 'rs1004237',
       'rs134490', 'rs4821519', 'rs1003500', 'rs5756405']})

reading genetic file and collecting found SNPs for file data/test_data/gen_file/test_CASE_MS_chr22.gen

0it [00:00, ?it/s]

processing last batch

0it [00:00, ?it/s]

reading genetic file and collecting found SNPs for file data/test_data/gen_file/test_CONTROL_MS_chr22.gen

0it [00:00, ?it/s]

processing last batch

0it [00:00, ?it/s]

In [6]:
save_data("geno_each_sample", combined.all_samples_geno_df)

,rs77948203,rs1014626,rs9610458,rs5762201,rs1004237,rs134490,rs4821519,rs1003500,rs5756405
sample_id,,,,,,,,,
WTCCCT473540,GG,TT,TT,GG,CC,NaN,GG,CC,AG
WTCCCT473530,GG,TT,TT,GG,CC,TT,CG,CC,AA
WTCCCT473555,GG,TT,TT,NaN,CC,TT,GG,CC,NaN
WTCCCT473426,GG,TT,TT,GG,CC,TT,GG,CC,GG
WTCCCT473489,GG,TT,CT,GG,CC,NaN,GG,CC,AA
...,...,...,...,...,...,...,...,...,...
WS574632,GG,TT,CT,GG,CC,TT,GG,CC,GG
WS574661,GG,TT,TT,GG,CC,TT,GG,CC,AA
BLOOD294452,GG,TT,CT,GG,CC,TT,GG,CC,AG
WTCCCT511021,GG,TT,CT,GG,CC,TT,GG,CC,AG
WTCCCT510948,GG,TT,CT,GG,CC,TT,GG,CC,AA

In [7]:
save_data("case_geno_each_sample", combined.get_geno_each_sample_subset("case"))

,rs77948203,rs1014626,rs9610458,rs5762201,rs1004237,rs134490,rs4821519,rs1003500,rs5756405
sample_id,,,,,,,,,
WTCCCT473540,GG,TT,TT,GG,CC,NaN,GG,CC,AG
WTCCCT473530,GG,TT,TT,GG,CC,TT,CG,CC,AA
WTCCCT473555,GG,TT,TT,NaN,CC,TT,GG,CC,NaN
WTCCCT473426,GG,TT,TT,GG,CC,TT,GG,CC,GG
WTCCCT473489,GG,TT,CT,GG,CC,NaN,GG,CC,AA
...,...,...,...,...,...,...,...,...,...
WTCCCT473455,GG,TT,TT,NaN,CC,TT,GG,CC,AG
WTCCCT473479,GG,TT,CT,GG,CC,CT,GG,CC,GG
WTCCCT473432,GG,TT,CT,GG,CC,CT,GG,CC,AG
WTCCCT473465,GG,TT,CT,GG,CC,NaN,GG,CC,AA
WTCCCT473421,GG,TT,TT,GG,CC,TT,GG,CC,AG

In [8]:
save_data("control_geno_each_sample", combined.get_geno_each_sample_subset("control"))

,rs77948203,rs1014626,rs9610458,rs5762201,rs1004237,rs134490,rs4821519,rs1003500,rs5756405
sample_id,,,,,,,,,
WTCCCT443025,GG,TT,TT,AG,CC,CT,GG,CC,AG
WTCCCT443065,GG,TT,CT,GG,CC,CT,GG,CC,AG
WTCCCT443063,GG,TT,TT,GG,CC,CC,GG,CC,GG
WTCCCT443026,GG,TT,CC,GG,CC,CT,GG,CC,AG
WTCCCT443066,GG,TT,CT,GG,CC,TT,GG,CC,GG
...,...,...,...,...,...,...,...,...,...
WS574632,GG,TT,CT,GG,CC,TT,GG,CC,GG
WS574661,GG,TT,TT,GG,CC,TT,GG,CC,AA
BLOOD294452,GG,TT,CT,GG,CC,TT,GG,CC,AG
WTCCCT511021,GG,TT,CT,GG,CC,TT,GG,CC,AG
WTCCCT510948,GG,TT,CT,GG,CC,TT,GG,CC,AA

In [9]:
save_data("all_geno_df", combined.all_geno_df)

           alleleA alleleB  AA  AB  BB
id_col
rs77948203       G       A  GG  AG  AA
rs1014626        C       T  CC  CT  TT
rs9610458        C       T  CC  CT  TT
rs5762201        A       G  AA  AG  GG
rs1004237        C       T  CC  CT  TT
rs134490         C       T  CC  CT  TT
rs4821519        G       C  GG  CG  CC
rs1003500        C       T  CC  CT  TT
rs5756405        A       G  AA  AG  GG

In [4]:
case_geno_each_sample = test_data_catalog.load("case_geno_each_sample")
control_geno_each_sample = test_data_catalog.load("control_geno_each_sample")
all_geno_df = test_data_catalog.load("all_geno_df")

odds_ratio_df_rs9610458_rs77948203 = odds_ratio_df_single_combined(case_geno_each_sample = case_geno_each_sample,
                              control_geno_each_sample = control_geno_each_sample,
                              all_geno_df = all_geno_df,
                             single_rsid = "rs9610458",
                             combo_rsid_list = ["rs9610458", "rs77948203"])
save_data("odds_ratio_df_rs9610458_rs77948203", odds_ratio_df_rs9610458_rs77948203)

,rs9610458,rs77948203,odds_ratio_combo,odds_ratio_single,unique_samples_id_case,unique_samples_count_case,unique_samples_id_control,unique_samples_count_control,case_total_no_NA,case_total_with_NA,control_total_no_NA,control_total_with_NA
0,CC,GG,0.943,0.934,"[WTCCCT473500, WTCCCT473552, WTCCCT473505, WTC...",1654,"[WTCCCT443026, WTCCCT443028, WTCCCT442386, WTC...",939,9385,9772,5076,5175
1,CC,AG,0.921,0.934,"[WTCCCT466268, WTCCCT489637, WTCCCT488814, WTC...",227,"[WTCCCT442411, WTCCCT444199, WTCCCT444742, WTC...",133,9385,9772,5076,5175
2,CC,AA,0.743,0.934,"[WTCCCT470057, WTCCCT489315, WTCCCT508408, WTC...",11,"[WTCCCT444162, WTCCCT442647, WTCCCT542697, WTC...",8,9385,9772,5076,5175
3,CT,GG,0.976,0.936,"[WTCCCT473489, WTCCCT473456, WTCCCT473515, WTC...",3956,"[WTCCCT443065, WTCCCT443066, WTCCCT443059, WTC...",2170,9385,9772,5076,5175
4,CT,AG,0.844,0.936,"[WTCCCT473524, WTCCCT473551, WTCCCT489609, WTC...",581,"[WTCCCT442429, WTCCCT443470, WTCCCT444145, WTC...",368,9385,9772,5076,5175
5,CT,AA,0.992,0.936,"[WTCCCT474394, WTCCCT470264, WTCCCT470548, WTC...",22,"[WTCCCT443346, WTCCCT444633, WTCCCT443601, WTC...",12,9385,9772,5076,5175
6,TT,GG,1.162,1.142,"[WTCCCT473540, WTCCCT473530, WTCCCT473555, WTC...",2549,"[WTCCCT443025, WTCCCT443063, WTCCCT443064, WTC...",1233,9385,9772,5076,5175
7,TT,AG,1.007,1.142,"[WTCCCT473522, WTCCCT473497, WTCCCT473514, WTC...",374,"[WTCCCT443058, WTCCCT442418, WTCCCT443471, WTC...",201,9385,9772,5076,5175
8,TT,AA,0.495,1.142,"[WTCCCT474560, WTCCCT469955, WTCCCT470219, WTC...",11,"[WTCCCT443119, WTCCCT442524, WTCCCT442733, WTC...",12,9385,9772,5076,5175

In [ ]:
# generate summary_df_6_pairs_chrom_22.tsv from task flow_result.result[output_all_pairs_summary_df_result]